<!DOCTYPE html>
<html lang="ua">
<head>
   
        <meta charset="utf-8">
    <meta name="viewport" content="width=480">
    <title>LED LAMP</title>
    <meta name="description" content="LED лампа">
    <meta name="keywords" content="LED лампа">
    
    <link rel="icon" type="image/x-icon" href="icon.ico">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/AvenirNextCyr.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
<meta name="csrf-param" content="_csrf">
<meta name="csrf-token" content="UqTR9EQzcIVVq8gIcQKtzVtWJ8pnBhBsWecihX4Jw9Vjz-eccVUi52aYq387a8ygKAFJuTRoSisupEvOMVnwkA==">
<script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
   
<script type="application/ld+json" id="mySchema">{"@context":"https://schema.org/","@type":"Offer","sku":1166,"name":"Налобный фонарь с сенсором - BL - G28 - XPE + COB","category":"Товары для Дома","availability":"https://schema.org/InStock","price":599,"priceCurrency":"UAH"}</script>
    <!--main_wrapper-->
    <div class="main_wrapper">
        <header class="active">
            <h1 class="title">LED LAMP</h1>
            <!------
             <a href="#order_form"><img class="icon" src="icons8-buying-90.png" alt="Buy"></a>
            -->
           
            
           
        </header>
        <nav id="menu" class="modal-body">
            <div class="modal-block">
                <ul>
                    <li>
                        <a href="/#home">Головна </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                    <li>
                        <a href="/#peculiarities">ОСОБЛИВОСТІ </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                    <li>
                        <a href="/#description">Опис </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                    <li>
                        <a href="/#video">Відео </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                    <li>
                        <a href="/#characteristics">Характеристики </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                    <li>
                        <a href="/#feedback">ВІДГУКИ </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                    <li>
                        <a href="/#order_form">замовити </a><svg viewBox="0 0 16 16"><path d="M6 8l4-3.5v7L6 8z"/></svg>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="home" class="offer_section offer3 offer_section-top">
            <div class="title_block"></div>
            <div class="timer_block clearfix">
                
                 <p>Ця пропозиція закінчиться через:</p>
                <div class="timer clearfix">
                    <div class="timer_item">
                        <div class="text">днів</div>
                        <div class="count">00</div>
                    </div>
                    <div class="timer_item">
                        <div class="text">годин</div>
                        <div class="count hours"></div>
                    </div>
                    <div class="timer_item">
                        <div class="text">хвилин</div>
                        <div class="count minutes"></div>
                    </div>
                    <div class="timer_item">
                        <div class="text">секунд</div>
                        <div class="count seconds"></div>
                    </div>
                </div>
                
                
               
            </div>
        
            <div class="image_block">
                <img class="offer_image" src="first1.png" alt="">
                <div class="discount_block">
                    <div class="value">20%</div>
                    <div class="text">знижка</div>
                </div>
            </div>
            <div class="benefits_list clearfix">
                <div class="benefit_item">100% гарантія якості</div>
                <div class="benefit_item">Обмежена пропозиція</div>
                <div class="benefit_item">Оплата при отриманні</div>
            </div>
            <div class="price_block clearfix">
                <div class="price_item old">
                    <div class="text">Звичайна ціна:</div>
                    <div class="value">699 грн.</div>
                </div>
                <div class="price_item new">
                    <div class="text"><span>Ви заощаджуєте 150 грн.</span></div>
                    <div class="value">549 грн.</div>
                </div>
            </div>
            <a href="/#order_form" class="button">Придбати зараз</a>
            <!----
                
                ------>
            <div class="products_count">* Купили <b id='id1'>17</b> шт за акцією</div>
        </div>
       

        <!--dark_theme-->
        <section id="peculiarities" class="dark_theme dark_theme4">
            <h2 class="title">Особливості</h2>
            <!-- benefits 1 square image -->
            <div class="benefits_list1">
                <div class="benefit_item">
                     <p>12 ВАТ</p>
                 </div>
                 <div class="benefit_item">
                     <p>Автоматична зарядка</p>
                 </div>
                 <div class="benefit_item">
                     <p>Яскравість</p>
                 </div>
                 <div class="benefit_item">
                     <p>Довговічність</p>
                 </div>
                 <div class="benefit_item">
                     <p>Універсальність використання</p>
                 </div>
                 <div class="benefit_item">
                     <p>Довготривалість</p>
                 </div>
            </div>
            <!-- /benefits 1 square image -->
        </section>
        <!--/dark_theme-->

         <!-- video -->
         <div id="video" class="video_block">
            <iframe width="480" height="520" src="https://www.youtube.com/embed/403gn3RABfA"
             title="Led Lamp" frameborder="0" 
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
             >
            </iframe>
        

        </div>
        <!-- /video -->
        <!--description_section-->
        <section id="description" class="description_section">
            <h2 class="title">LED Лампа</h2>
            <div class="image_block">
                <img src="s.png" alt="">
            </div>
            <div class="text_block">
                    <p>Лед лампа на акумуляторі це пристрій, який під час відключення електроенергії продовжує світити від вбудованого акумулятора!</p>
                    <p>Повністю заряджений акумулятор забезпечує 2-3 години роботи, далі лампочка тьмяніє але продовжує світити ще протягом 12 годин.</p>
            </div>
            <div class="image_block">
                <img src="third.png" alt="">
            </div>
            <div class="text_block">
                <p>На зарядку необхідно 4-6 години.</p>
                <p>Використовується тільки у світильниках відкритого типу.</p>
            </div>
            <div class="image_block">
                <img src="fourth.png" alt="">
            </div>
            <div class="text_block">
                
                <p>Зверніть увагу, що акумулятор заряджається від електромережі.</p>
                <h3>ПОРАДА</h3>
                <p>Замініть звичайні лампочки в тих місцях де ви вмикаєте світло постійно, щоб акумулятор завжди був заряджений.</p>
                <p>Від себе можемо порадити, що у ванній та кухні це незамінна річ.
                     Так як сім’я зазвичай найчастіше користується цими двома кімнатами і вони практично постійно увімкнені)
                      також ідеально підійде для освітлення житлових кімнат, під’їзду, коридорів та гаражів.</p>
            </div>
            <a href="/#order_form" class="button">Придбати зараз</a>
            <!---------->
            <div class="products_count">* Купили <b id='id2'>17</b> шт за акцією</div>
            <div class="image_block">
                <img src="222.jpg" alt="">
            </div>
        </section>
        <!--/description_section-->

        

        <!-- reviews 2 -->
        <section id="feedback" class="reviews2_section">
            <h2 class="title">Відгуки покупців</h2>
            <div class="reviews_stats_block">
                <p><b>98%</b> покупців рекомендують цей товар</p>
                <div class="line"></div>
            </div>
            <div class="reviews_list1 owl-carousel">
                <div class="review_item">
                    <img  src="review.jpg" alt="">
                </div>
            </div>
        </section>
        <!-- /reviews 2 -->

        <!-- order steps 2 -->
        <div class="order_steps_list1 clearfix">
            <h2 class="title">Як замовити?</h2>
            <div class="box">
                <div class="step_item">
                    <div class="number">1</div>
                    <h4>Заявка</h4>
                    <p>Залишаєте заявку на нашому сайті</p>
                </div>
                <div class="step_item">
                    <div class="number">2</div>
                    <h4>Дзвінок</h4>
                    <p>Менеджер передзвонить для уточнення деталей</p>
                </div>
                <div class="step_item">
                    <div class="number">3</div>
                    <h4>Надсилання</h4>
                    <p>Доставляємо ваш товар протягом 1-3 днів</p>
                </div>
                <div class="step_item">
                    <div class="number">4</div>
                    <h4>Отримання</h4>
                    <p>Оплачуєте при отриманні на пошті</p>
                </div>
            </div>
        </div>
        <!-- result.php steps 2 -->

        <!-- order 3 -->
        <section class="offer_section offer3">
            <div class="title_block"></div>
            <div class="timer_block clearfix">
                <p>Ця пропозиція закінчиться через:</p>
                <div class="timer clearfix">
                    <div class="timer_item">
                        <div class="text">днів</div>
                        <div class="count">00</div>
                    </div>
                    <div class="timer_item">
                        <div class="text">годин</div>
                        <div class="count hours"></div>
                    </div>
                    <div class="timer_item">
                        <div class="text">хвилин</div>
                        <div class="count minutes"></div>
                    </div>
                    <div class="timer_item">
                        <div class="text">секунд</div>
                        <div class="count seconds"></div>
                    </div>
                </div>
            </div>
            <div class="image_block">
                <img class="offer_image" src="images/offer__image.jpg" alt="">
                <div class="discount_block">
                    <div class="value">20%</div>
                    <div class="text">знижка</div>
                </div>
            </div>
            <div class="benefits_list clearfix">
                <div class="benefit_item">100% гарантія якості</div>
                <div class="benefit_item">Обмежена пропозиція</div>
                <div class="benefit_item">Оплата при отриманні</div>
            </div>
            <div class="price_block clearfix">
                <div class="price_item old">
                    <div class="text">Звичайна ціна:</div>
                    <div class="value">699 грн.</div>
                </div>
                <div class="price_item new">
                    <div class="text"><span>Ви заощаджуєте 150 грн.</span></div>
                    <div class="value">549 грн.</div>
                </div>
            </div>
            <form id="order_form" action="/" class="order_form"  method="post" >
                <input class="field" id="name" type="text" name="name" placeholder="Введіть ваше ім'я" required>
                <input class="field" id="number" type="number" name="phone" placeholder="Введіть Ваш телефон" required >
<!---
<button class="button" onclick="sendEmail()">Придбати зараз</button>
 <input class="button" type="button" value="Придбати зараз" onclick="sendEmail()"/>
 <a href="/order"> Pfvjdb</a>
-->
                
               
                    <button class="button" >Придбати зараз</button>
                <input type="hidden" name="_csrf" value="UqTR9EQzcIVVq8gIcQKtzVtWJ8pnBhBsWecihX4Jw9Vjz-eccVUi52aYq387a8ygKAFJuTRoSisupEvOMVnwkA==">    
            </form>
            <!----
                ------>
            <div class="products_count">* Купили <b id='id3'>17</b> шт за акцією</div>
        </section>
        <!-- result.php 3 -->

        <!-- footer -->
        <footer class="footer_section">
            <a class="logo" href="/#home">
                <img src="images/logo.svg" alt="">
            </a>
            <div style="font-size:13px;text-align: center;">
              <p>
                                <br>
                07400, Київська область, місто Бровари            </p>
              <p style="text-align: center">

                Графік работи:
                Пн - Нд: 08:00 - 23:00 <br>
                                    Контактний телефон : +380 (63) 815 0656<br>
                                <br>
                 <br>
                 amascoled12w@gmail.com
                <!----
                    <a href="/cdn-cgi/l/email-protection#afcec2cec2c681c0c1c3c6c1caefc8c2cec6c381ccc0c2"><span class="__cf_email__" data-cfemail="8eefe3efe3e7a0e1e0e2e7e0ebcee9e3efe7e2a0ede1e3">[email&#160;protected]</span></a>
               
                <a style="color:inherit;" href="politics.html">Політика конфеденційності</a>
                <br>
                <a style="color:inherit;" href="agreement.html">Угода користувача</a>
                <br>
                <a style="color:inherit;" href="garantiya.html">Умови гарантії та повернення</a>
                -->
                
              </p>
            </div>
        </footer>
        <!-- /footer -->
    </div>
    <!--/main_wrapper-->

    <!-- scripts -->
    <script data-cfasync="false" src="email-decode.min.js"></script><script defer src="jquery.js" type="text/javascript"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script defer src="jquery.js" type="text/javascript"></script>

    <script defer src="previewYouTube.js"></script>
    <script defer src="owl.carousel.min.js"></script>
    <script defer src="scripts.js"></script>
    <!-- /scripts -->
<script src="jquery.js"></script>
<script src="index.js"></script>
<script>
    function update() {
    var Now = new Date(), Finish = new Date();
    Finish.setHours(23);
    Finish.setMinutes( 59);
    Finish.setSeconds( 59);
    if( Now.getHours() === 23  &&  Now.getMinutes() === 59  &&  Now.getSeconds === 59) {
        Finish.setDate( Finish.getDate() + 1);
    }
    var sec = Math.floor( ( Finish.getTime() - Now.getTime()) / 1000);
    var hrs = Math.floor( sec / 3600);
    sec -= hrs * 3600;
    var min = Math.floor( sec / 60);
    sec -= min * 60;
    $(".timer .hours").html( pad(hrs));
    $(".timer .minutes").html( pad(min));
    $(".timer .seconds").html( pad(sec));
    setTimeout( update, 200);
}
function pad(s) {
    s = ("00"+s).substr(-2);
    return "<span>" + s[0] + "</span><span>" + s[1] + "</span>";
}
let input1 = document.getElementById("id1");
let input2 = document.getElementById("id2");
let input3 = document.getElementById("id3");
function getRandomInt() {
    let randomN = Math.floor(Math.random() * (25 - 1) + 1);
    input1.innerText  = randomN;
    input2.innerText  = randomN;
    input3.innerText  = randomN;
}
getRandomInt();
update();
</script>
<script>jQuery(function ($) {

            $('a[href^="/#"]').click(function(e){
                e.preventDefault();
                var _href = $(this).attr('href').slice(1);
                $('html, body').animate({scrollTop: $(_href).offset().top+'px'});
                return false;
            });
        
});</script></body>
</html>